<p-panel header='Numeric Pipes' class='p-1'>
  <p>Pipes included in Angular @CommonModule</p>
</p-panel>

<div class='grid'>
  <div class='col 12 md: col-4'>
    <p-card header='Net Sales' subheader='of the current year'>
      {{ totalSales + 12345 | number:'1.2-2' }}
    </p-card>
  </div>
  <div class='col 12 md: col-4'>
    <p-card header='Gross Sales' subheader='of the current year'>
      {{ totalSales | currency:'EUR':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>
  <div class='col 12 md: col-4'>
    <p-card header='Percentage profit' subheader='of the current year'>
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>
</div>
